<section class="divider-bars divider-bars-breakdown">
  <h3>Breakdown</h3>
  <h5>Read this!</h5>
  <div class="breakdown-desc">The numbers on this site are merely fun numbers to think about. They are just estimates, so dont take them too seriously.</div><br />
  <div class="breakdown-desc">We get the beat time data from <a href="http://howlongtobeat.com">HowLongToBeat.com</a> who get their data from users, so we dont have a beat time for all games and some of the data we have for games might be different than you expect.</div>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Beat Time</th>
        <th>Playtime</th>
        <th>Time Left</th>
      </tr>
    </thead>
    <tbody>
      <% @sorted_games.each do |g| %>
        <tr id="<%= g["appid"] %>">
          <td><% if !g["img_logo_url"].blank? %><%= image_tag g["real_img_logo_url"], height: "20px" %><% end %> <%= g["name"] %></td>
          <td><%= minutes_to_short_words(g["beat_time"]) %></td>
          <td><%= minutes_to_short_words(g["playtime_forever"], true) %></td>
          <td><%= minutes_to_short_words(g["playtime_difference"], true) %></td>
        </tr>
      <% end %>
      <tr><td colspan="4"><h3>Total</h3></td></tr>
      <tr>
        <td></td>
        <td><%= minutes_to_short_words(@total_beat_time) %></td>
        <td><%= minutes_to_short_words(@total_playtime) %></td>
        <td><%= minutes_to_short_words(@playtime_differential) %></td>
      </tr>
    </tbody>
  </table>
</section>
