<% if @playtime_differential > 0 %>
  <section class="divider-bars center main-span gaben-target">
    <div class="hidden" id="playtime-differential"><%= @playtime_differential %></div>
    <div class="steam-screen-name">
      <%= image_tag @steam_avatar %> <%= @steam_personaname %>
    </div>
    <div class="secondary-text">It would take you...</div>
    <div class="playtime-differential gaben-trigger">
      <%= minutes_to_hours @playtime_differential %> continuous hours
    </div>
    <div class="playtime-differential-words"><%= minutes_to_words @playtime_differential %></div>
    <div class="secondary-text">of gameplay to complete your Steam library</div>
    <div class="addthis_sharing_toolbox"></div>
  </section>


<div class="split-dividers center">IN THIS TIME YOU COULD...</div>

<section class="divider-bars-dist dist-divider" title="This is my image's tooltip message!">
  <%= render 'shared/distribution', :distribution => @distribution, :playtime_differential => @playtime_differential %>
</section>

<!-- <section class="divider-bars divider-bars-breakdown-link center">
  <%= link_to "Click here for a breakdown", breakdown_path(:steam_id => @steam_id) %>
</section> -->

<% else %>
  <section class="divider-bars center main-span gaben-target">
    <div class="hidden" id="playtime-differential"><%= @playtime_differential %></div>
    <div class="steam-screen-name">
      <%= image_tag @steam_avatar %> <%= @steam_personaname %>
    </div>
    <div class="playtime-differential gaben-trigger">
      Holy Shit!!!
    </div>
    <div class="playtime-differential-words">You seem to have completed your entire steam library!</div>
    <div class="secondary-text">That's pretty awesome!</div>
    <div class="addthis_sharing_toolbox"></div>
  </section>
<% end %>

<section class="divider-bars divider-bars-donate">
  <div>Hey guys, we've had to upgrade our server due to all this love. We dont like ads, so if you want to help us out with the bill, you can donate below.</div>
  <div class="center divider-bars-donate-button">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="nic.major.d@gmail.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="SteamLeft">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</section>