<% if @playtime_differential > 0 %>
  <section class="divider-bars center main-span gaben-target">
    <div class="hidden" id="playtime-differential"><%= @playtime_differential %></div>
    <div class="steam-screen-name">
      <%= image_tag @steam_avatar %> <%= @steam_personaname %>
    </div>
    <div class="secondary-text">It would take you...</div>
    <div class="playtime-differential gaben-trigger">
      <%= minutes_to_hours @playtime_differential %> continuous hours
    </div>
    <div class="playtime-differential-words"><%= minutes_to_words @playtime_differential %></div>
    <div class="secondary-text">of gameplay to complete your Steam library</div>
    <div class="addthis_sharing_toolbox"></div>
  </section>


<div class="split-dividers center">IN THIS TIME YOU COULD...</div>

<section class="divider-bars-dist dist-divider" title="This is my image's tooltip message!">
  <%= render 'shared/distribution', :distribution => @distribution, :playtime_differential => @playtime_differential %>
</section>

<!-- <section class="divider-bars divider-bars-breakdown-link center">
  <%= link_to "Click here for a breakdown", breakdown_path(:steam_id => @steam_id) %>
</section> -->

<% else %>
  <section class="divider-bars center main-span gaben-target">
    <div class="hidden" id="playtime-differential"><%= @playtime_differential %></div>
    <div class="steam-screen-name">
      <%= image_tag @steam_avatar %> <%= @steam_personaname %>
    </div>
    <div class="playtime-differential gaben-trigger">
      Holy Shit!!!
    </div>
    <div class="playtime-differential-words">You seem to have completed your entire steam library!</div>
    <div class="secondary-text">That's pretty awesome!</div>
    <div class="addthis_sharing_toolbox"></div>
  </section>
<% end %>


<section class="affs">
  <section class="split-dividers">Support us by checking out some new gear.</section>

  <section class="divider-bars top-bumper aff-link">
    <a href="http://amzn.to/26c5wl2" target="_blank">
      <img align="left" border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B016GNX4SE&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=steamleft-20" >
      Acer Predator 34-inch Curved UltraWide QHD
    </a>
  </section>

  <section class="divider-bars top-bumper aff-link">
    <a href="http://amzn.to/26c5muf" target="_blank">
      <img align="left" border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00YDAYOK0&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=steamleft-20" >
      EVGA GeForce GTX 980 Ti
    </a>
  </section>

  <section class="divider-bars top-bumper aff-link" style="min-height: 110px;">
    <a href="http://amzn.to/1SrqnNk" target="_blank">
      <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B014M8Z4E2&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=steamleft-20" >
      Azio RGB Backlit Mechanical Gaming Keyboard
    </a>
  </section>
</section>
