<% if @playtime_differential > 0 %>
  <section class="divider-bars center main-span gaben-target">
    <div class="hidden" id="playtime-differential"><%= @playtime_differential %></div>
    <div class="steam-screen-name">
      <%= image_tag @steam_avatar %> <%= @steam_personaname %>
    </div>
    <div class="secondary-text">It would take you...</div>
    <div class="playtime-differential gaben-trigger">
      <%= minutes_to_hours @playtime_differential %> continuous hours
    </div>
    <div class="playtime-differential-words"><%= minutes_to_words @playtime_differential %></div>
    <div class="secondary-text">of gameplay to complete your Steam library</div>
    <div class="addthis_sharing_toolbox"></div>
  </section>


<div class="split-dividers center">IN THIS TIME YOU COULD...</div>

<section class="divider-bars-dist dist-divider" title="This is my image's tooltip message!">
  <%= render 'shared/distribution', :distribution => @distribution, :playtime_differential => @playtime_differential %>
</section>

<!-- <section class="divider-bars divider-bars-breakdown-link center">
  <%= link_to "Click here for a breakdown", breakdown_path(:steam_id => @steam_id) %>
</section> -->

<% else %>
  <section class="divider-bars center main-span gaben-target">
    <div class="hidden" id="playtime-differential"><%= @playtime_differential %></div>
    <div class="steam-screen-name">
      <%= image_tag @steam_avatar %> <%= @steam_personaname %>
    </div>
    <div class="playtime-differential gaben-trigger">
      Holy Shit!!!
    </div>
    <div class="playtime-differential-words">You seem to have completed your entire steam library!</div>
    <div class="secondary-text">That's pretty awesome!</div>
    <div class="addthis_sharing_toolbox"></div>
  </section>
<% end %>


<!-- <section class="affs">
  <section class="split-dividers aff-header">Have you been thinking about an upgrade?</section>

  <section class="divider-bars top-bumper aff-link row">
    <a href="http://amzn.to/21sgbo9" onclick="ga('send', 'event', 'amazon affiliate link', 'click', 'product', 'HyperX Headset');" target="_blank">
      <div class="col-xs-3">
        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00JJNQG98&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=steamleft0f-20" >
      </div>
      <div class="col-xs-9">
        HyperX Cloud Gaming Headset
        <div class="aff-button">View on Amazon</div>
      </div>
    </a>
  </section>

  <section class="divider-bars top-bumper aff-link row">
    <a href="http://amzn.to/1pXHIjD" onclick="ga('send', 'event', 'amazon affiliate link', 'click', 'product', 'Corsair RGB Keyboard');" target="_blank">
      <div class="col-xs-3">
        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B014W1YUAS&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=steamleft0f-20" >
      </div>
      <div class="col-xs-9">
        Corsair Gaming K70 RGB Mechanical Gaming Keyboard, Aircraft-Grade Aluminum
        <div class="aff-button">View on Amazon</div>
      </div>
    </a>
  </section>

  <section class="divider-bars top-bumper aff-link row">
    <a href="http://amzn.to/1rgIQjd" onclick="ga('send', 'event', 'amazon affiliate link', 'click', 'product', 'GTX 980 Graphics Card');" target="_blank">
      <div class="col-xs-3">
        <img border="0" src="//ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00YDAYOK0&Format=_SL160_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=steamleft0f-20" >
      </div>
      <div class="col-xs-9">
        EVGA GeForce GTX 980 Ti Graphic Card
        <div class="aff-button">View on Amazon</div>
      </div>
    </a>
  </section>

</section> -->
