<section class="divider-bars center">
  <div class="hidden" id="playtime-differential"><%= @playtime_differential %></div>
  <div class="steam-screen-name">
    <%= image_tag @steam_avatar %> <%= @steam_personaname %>
  </div>
  <div class="secondary-text">It would take you...</div>
  <div class="playtime-differential">
    <%= minutes_to_hours @playtime_differential %> continuous hours
  </div>
  <div class="playtime-differential-words"><%= minutes_to_words @playtime_differential %></div>
  <div class="secondary-text">of gameplay to complete your Steam library</div>
  <div class="addthis_sharing_toolbox"></div>
</section>

<div class="split-dividers center">IN THIS TIME YOU COULD...</div>

<section class="divider-bars-dist dist-divider" title="This is my image's tooltip message!">
  <%= render 'shared/distribution', :distribution => @distribution, :playtime_differential => @playtime_differential %>
</section>
<div></div>

<section class="alt-color consideration clear">Learn more about SteamLeft <%= link_to 'here', about_path %>.</section>